body {
    padding-top: 0;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  color:#fff;
}
 .nav > li > a {
    padding-left: 15px;
    padding-right: 15px;
    color:#fff;
    font-size:12pt;
}
 .nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
 .navbar-inverse .navbar-nav > li > a {
  color: #9d9d9d;
}
@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 28px;
        padding-bottom: 3px;
        line-height: 20px;
        font-weight:bold;
        color:#fff;
    }
    .nav > li > a {
    padding-left: 15px;
    padding-right: 1px;
    color:#fff;
    font-size:12pt;
}
    .navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
    .navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #e30b21;
  background-color: transparent;
}

}